body {
    display: grid;
    grid-template-columns: .2fr 1fr 1fr .2fr;
    grid-template-rows: 1fr .4fr 3fr 3fr 1fr;
    gap: .2em;
    grid-template-areas:
    ". header header ."
    ". nav nav ."
    ". prod prod ."
    ". prod prod ."
    ". footer footer.";
}


header {
    display: flex;
    flex-direction: 
    row-reverse;
    justify-content: 
    space-around;
    grid-area: header;
    /* background-image: png ;
    static/images/Screenshot 2025-08-31 at 11.27.50 AM.png; */

}

#logo {
    max-height: 4.8em;
}

.top-nav {
    grid-area: nav;
}

.products {
    grid-area: prod;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer {
    grid-area: footer;
}

img {
    max-width: 6em;
}

.nav-list {
    display: flex;
    /* flex-direction: column; */
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media (min-width: 600px) {
    body{
        grid-template-columns: .4em 
        repeat(4, 1em) .4em;
    }
}